---
import Starfield from "~/components/starfield.astro";
---

<section id="splash" class="relative h-full bg-[#15192F]">
  <Starfield />
  <div class="relative grid h-full place-items-center sm:grid-cols-2 px-4 md:px-10">
    <h2 class="flex flex-col items-center justify-center gap-8 sm:gap-10">
      <div class="flex justify-center items-center sm:ml-8 md:ml-12">
        <img 
          src="/logotipoinnovavioleta.WebP" 
          alt="INNOVA"
          width="600"
          height="400"
          class="max-w-full h-auto sm:max-w-[100%] md:max-w-[95%] lg:max-w-[80%] mx-auto" />
      </div>
    </h2>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  h2 > div {
    font-size: 8rem;
  }

  a {
    transition: background-color 0.3s, transform 0.3s ease, box-shadow 0.3s ease;
  }

  @media (max-width: 640px) {
    h2 > div {
      font-size: 5rem;
    }

    p {
      font-size: 1.25rem;
    }

    .mt-8 {
      margin-top: 1rem;
    }

    .sm\\:mt-16 {
      margin-top: 4rem;
    }

    .mt-10 {
      margin-top: 2rem;
    }
  }
</style>
